*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  align-items: center;
}

/*header styles*/
data {
  width: auto;
  height: 50px;
  padding: 10px;
  border: 10px;
  margin: 15px;
  display: flex;
}

.allScores {
  width: auto;
  padding: 10px;
  margin: 1%;
  justify-content: space-around;
  float: left;
}

.timer {
  float: right;
  width: auto;
  padding: 10px;
  padding-right: 50px;
  margin: auto;
  justify-content: space-between;
  display: flex;
}

.allScores h2 {
  color: #0993f3;
  font-size: 1.2rem;
}

.timerText h2 {
  font-weight: bold;
  font-size: 1.4rem;
  float: left;
}

.timerTime {
  font-weight: bold;
  font-size: 1.4rem;
  padding-left: 10px;
}

h3 {
  width: auto;
  font-weight: bold;
  font-size: 20px;
  float: right;
}

/*landing page styles*/
#info {
  width: 100vw;
  height: 100vh;
  padding: 20%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

header {
  font-size: 2.4rem;
  font-weight: bold;
  margin: auto;
  padding: 20px;
}

p {
  font-size: 1.4rem;
}

/*question page styles*/
#question-container {
  width: 800px;
  max-width: 80%;
  margin: auto;
  margin-top: 395px;
  background-color: #a9d1f6;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

#question {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px, o;
  padding-bottom: 20px;
}

.controls {
  padding-top: 10px;
}

#next-Btn {
  background-color: #0244a1;
}

#next-Btn:hover {
  background-color: #a9d1f6;
  color: #0244a1;
}

/*button style*/
button {
  background-color: #0993f3;
  color: #a9d1f6;
  font-size: 2rem;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

button:hover {
  background-color: #0244a1;
  color: #a9d1f6;
}

/* .btn.correct {
}

.btn.wrong {
} */

/*Question & Answer Style Boxs */
/* .container {
  width: 800px;
  max-width: 80%;
  background-color: #a9d1f6;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
} */

.hide {
  display: none;
}
